@import "../variables";

div.clock-container {
  background-color: $clock-color;
  flex: 1;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

div.clock {
  color: #ffffff;
  font-family: monospace;
  margin: 5px 0;
  position: relative;
  font-size: 100px;
  &::before {
    color: #131212;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "88:88";
  }
}
